body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #94beda;
    color: #000000;
}

header {
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 5px;
    text-align: left;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    color: #ffffff;
}

section {   
    padding: 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}